@import '../../shared/css/custom-media.css';
@import '../../shared/css/colors.css';
@import '../../shared/css/layout.css';

.detail {
  min-height: calc(100vh - var(--header-height) * 2);
  max-width: 90%;
  margin: 2% auto;
}

.header {

}

.title {

}

.backHome {
  font-size: 1em;
  margin-top: 2em;
  padding: .8em;
  min-width: 200px;
  text-align: center;
  background: var(--accent-color);
  color: #fff;
  text-transform: uppercase;
}

.backHome:hover {
  background: color(var(--accent-color) blackness(25%));
}


@media (--tablet) {
  .detail {
    min-height: calc(100vh - calc(var(--header-height) * 2) - 120px);
  }
}

