@import '../../shared/css/custom-media.css';

.articleList {
  lost-utility: clearfix;
}

.articleList Article {
  lost-column: 1/1;
}

@media (--tablet) {
  .articleList Article {
      lost-column: 1/2;
  }
}

@media (--desktop) {
  .articleList Article {
      lost-column: 1/3;
  }
}

@media (--large-desktop) {
  .articleList Article {
      lost-column: 1/4;
  }
}
