@import '../../shared/css/layout';
@import '../../shared/css/colors';
@import '../../shared/css/custom-media';

.main {
  margin-top: var(--header-height);
  min-height: 80vh;
}

.header {
  padding: 1em;
  height: var(--header-height);
  background: var(--secondary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  position: relative;
  color: #fff;
  padding: .4em;
}

.title::after {
  content: '';
  position: absolute;
  background: var(--accent-color);
  width: 30px;
  height: 3px;
  bottom: 0;
  left: .4em;
}

.newArticle {
  composes: accentButton from "../../index.css";
  cursor: pointer;
  margin: 0;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: .8em;
  min-width: 0;
}

.buttonText {
  margin-left: 1em;
  display: none;
}

@media (--tablet) {
  .buttonText {
    display: inline-block;
  }
}

