@import '../../shared/css/custom-media.css';
@import '../../shared/css/fonts.css';

.app {
  font-family: 'Cabin';
  font-size: 1.2em;
}

@media (--tablet) {
  .app {
    font-size: 1.15em;
  }
}
@media (--desktop) {
  .app {
    font-size: 1em;
  }
}
@media (--large-desktop) {
  .app {
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed';
  font-weight: 400;
}